.header-nav{
    background-color: gray;
}

.header-nav a{
    padding: 10px 20px;
    color: white;
    font-size: x-large;
}

.header-nav a:hover{
    background-color: orangered;
}

.logo img{
    height: 86px;
    width: 107px;
}